:root {
  --color-primary: #00CCFF;
}

html {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: #f0e7d5;
  min-height: 100vh;
  background: #242424;
}

html,
body {
  margin: 0;
  padding: 0;
}


h1 {
  color: var(--color-primary);
  font-weight: 400;
  font-size: 2.5rem;
}

button {
  background-color: var(--color-primary);
  color: #000000;
  border: none;
  font-size: 1.25rem;
  padding: .5rem 1rem;
}

input::file-selector-button {
  background-color: var(--color-primary);
  border: none;
  font-size: 1rem;
  padding: .25rem .5rem;
}

select {
  font-size: 1.25rem;;
}

a {
  color: var(--color-primary);
  text-decoration: none;
  font-weight: bold;
}

main {
  min-height: calc(100vh - (4rem));
}
